.container {
    display: grid;
    grid-template-columns: 150px 1fr 150px;
    grid-template-rows: 1fr 70px;
    grid-template-areas: "header main widget"
    "header footer widget";
    height: 100vh;
    gap: 2px;
}
.site-header {
    grid-area: header;
    background: #4da6ff;
    padding: 20px;
    text-align: center;
}

.site-main {
    grid-area: main;
    background: #66cc66;
    padding: 20px;
    text-align: center;
}

.widget-area {
    grid-area: widget;
    background: #cc66cc;
    padding: 20px;
    text-align: center;
}

.site-footer {
    grid-area: footer;
    background: #0066cc;
    padding: 20px;
    color: white;
    text-align: center;
}

@media screen and (max-width: 800px) {
    body {
        background-color: red;
    }
}

@media screen and (max-width: 600px) {
    body {
        background-color: green;
    }
}

@media screen and (max-width: 500px) {
    body {
        background-color: blue;
    }
}
